In [78]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.formula.api import ols
from scipy.stats import ttest_ind

In [79]:
data = pd.read_excel(r"C:\Users\angel\Desktop\Data Analysis\Ironhack\Labs\lab-inferential-statistics-anova\files_for_lab\anova_lab_data.xlsx", sheet_name='data_collected')
data.head()

  Power   Etching Rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

In [80]:
data.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
data.groupby('power').agg(np.mean)

       etching_rate
power
160 W         5.792
180 W         6.238
200 W         8.318

In [81]:
# we can see a low p_value, which may imply that it have statistical significance

model = ols('etching_rate ~ C(power)', data=data).fit()
sm.stats.anova_lm(model)

            df     sum_sq   mean_sq          F    PR(>F)
C(power)   2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

In [82]:
data.pivot(columns='power').describe()

      etching_rate
power        160 W     180 W     200 W
count     5.000000  5.000000  5.000000
mean      5.792000  6.238000  8.318000
std       0.319875  0.434304  0.669604
min       5.430000  5.660000  7.550000
25%       5.590000  5.980000  7.900000
50%       5.710000  6.240000  8.150000
75%       6.010000  6.600000  8.790000
max       6.220000  6.710000  9.200000

In [83]:
data['power'] = data['power'].str.replace(' W', '')

In [84]:
data

   power  etching_rate
0    160          5.43
1    180          6.24
2    200          8.79
3    160          5.71
4    180          6.71
5    200          9.20
6    160          6.22
7    180          5.98
8    200          7.90
9    160          6.01
10   180          5.66
11   200          8.15
12   160          5.59
13   180          6.60
14   200          7.55

In [85]:
display_a = data[data['power'] == '200']['etching_rate']

for display in data['power'].unique():
    display_b = data[data['power'] == display]['etching_rate']
    print(display, ttest_ind(display_a, display_b))

160 TtestResult(statistic=7.611403634613074, pvalue=6.237977344615716e-05, df=8.0)
180 TtestResult(statistic=5.827496614588661, pvalue=0.0003926796476049085, df=8.0)
200 TtestResult(statistic=0.0, pvalue=1.0, df=8.0)

In [86]:
display_a

2     8.79
5     9.20
8     7.90
11    8.15
14    7.55
Name: etching_rate, dtype: float64